@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono {
        font-family: "Azeret Mono", monospace;

}

nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 70px;

}

.name {
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 28px;
        font-weight: 800;
        line-height: 33px;
        letter-spacing: 0%;
        text-align: left;
}

.btn-cv {
        /* Frame 2 */
        width: 228px;
        height: 58px;
        left: 1046px;
        top: 38px;
        border: 1px solid rgb(13, 19, 33);
        border-radius: 10px;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
        cursor: pointer;

}

header {
        background-image: url(/assets/Hero-bg.png);
        width: 1510px;
        height: 700px;
}

.bannaer-section {
        position: absolute;
        width: 998px;
        height: 582px;
        left: 221px;
        right: 221px;
        top: 157px;
        bottom: 4506px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;

}

.banner-title {
        /* "In the near future, I hope to become a Developer." */
        position: static;
        width: 998px;
        height: 136px;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;


        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 24px 0px;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 48px;
        font-weight: 800;
        line-height: 68px;
        letter-spacing: 0%;
        text-align: center;
}

.banner-subtitle {
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0%;
        text-align: center;
}

.bannaer-section {
        justify-content: center;
}

.bannaer-section .btn {
        margin-left: 445px;
        letter-spacing: 0%;

}

.btn {
        /* Frame 2 */
        width: 200px;
        height: 66px;
        border-radius: 8px;
        background: rgb(13, 19, 33);
        color: rgb(255, 255, 255);
        font-family: Azeret Mono;
        margin-top: 20px;


}

.btn a {
        color: aliceblue;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        align-items: center;
}

/* banner style ens here */

/* main section styling stars here */
.developer-section {
        width: 1440px;
        height: 450px;
}

.developer-contant {
        align-items: center;
        justify-content: center;
        /* text-align: center; */
        margin-left: 320px;
}

.developer-title {
        width: 852px;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 32px;
        font-weight: 800;
}

.developer-subtitle {
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        margin-right: 250px;
        margin-top: 30px;
}

.coding-section {
        display: flex;
        width: 946px;
        height: 336px;
        align-items: center;
        margin-left: 250px;
        margin-top: 50px;

}

.coding-title {
        width: 390px;
        height: 72px;
        padding: 0px;
        margin: 16px 0px;
        color: rgba(13, 19, 33, 0.7);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
}

.coding-subtitle {
        width: 468px;
        height: 52px;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        margin: 16px 0px;
        opacity: 0.7;

}

.btn-coding {
        width: 200px;
        height: 48px;
        justify-content: center;
        align-items: center;
        padding: 12px 20px 12px 20px;
        box-sizing: border-box;
        opacity: 0.7;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 15px;
        font-weight: 600;
        line-height: 10px;
        letter-spacing: 0%;
        text-align: center;

}

.img-section {
        margin-left: 300px;
}


.help-section {
        width: 850px;
        height: 240px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 100px;

}

.img-section {
        width: 240px;
        height: 240px;
        position: relative;
        margin-right: 50px;
}

.help-title {
        width: 477px;
        height: 72px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;


        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 16px 0px;
        color: rgba(13, 19, 33, 0.7);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
}

.help-discrition {
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        opacity: 0.7;

}

.help-btn {
        position: static;
        width: 150px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 20px 12px 20px;
        margin: 32px 0px;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 15px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
}

/* inparation section styling stars here */
.inpaireation-part {
        width: 1140px;
        height: 100%;
        top: 1850px;
        bottom: 2128px;
        display: flex;
        align-items: center;
        padding: 0px;


}

.subtitle {
        justify-content: center;
        align-items: center;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin-left: 300px;
}

.discription {
        height: 52px;
        align-items: center;
        padding: 0px;
        margin: 24px 0px;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        opacity: 0.7;
        margin-left: 250px;
}

.place-photo {
        width: 1076px;
        height: 650px;
        border-radius: 25px;
        margin: 0 auto;
        margin-left: 250px;
        border: 2px solid red;
}


/* inparation section styling ends here */


/* carent targer section styling start here */

.carent-content {
        width: 1400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 100px auto;
}

.carent-title {
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        line-height: 37px;
        letter-spacing: 0%;
        text-align: center;
        font-family: "Azeret Mono";
        font-weight: 800;
        font-size: 32px;
        letter-spacing: 0%;
}

.carent-discription {
        width: 852px;
        height: 52px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 24px auto;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        opacity: 0.7;

}

.html-card {
        width: 364px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 24px;
        border-radius: 16px;
        background: rgba(255, 76, 30, 0.05);
}

.css-card {
        width: 364px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 24px;
        border-radius: 16px;
        background: rgba(0, 76, 232, 0.05);
}

.js-card {
        width: 364px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 24px;
        border-radius: 16px;
        background: rgba(255, 223, 0, 0.05);
}

.html-title {
        width: 284px;
        height: 36px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 800;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;

}

.html-discritiopn {
        width: 284px;
        height: 180px;
        margin: 8px 0px;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;

}

.html-link {
        margin: 24px 0px;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: underline;
}

.box-card {
        display: flex;
        justify-content: center;
        align-items: center;
}

/* carent targer section styling end here */



/* next target section styling start here */
.next-target-content {
        position: static;
        width: 1140px;
        height: 871px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 111px auto;
}

.next-target-title {
        width: 852px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 24px 0px;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 32px;
        font-weight: 800;
        line-height: 37px;
        text-align: center;
}

.taget-discrition {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px 0px;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
}

.react-card {
        margin-bottom:20px;
        width: 1140px;
        height: 220px;
        box-sizing: border-box;
        border: 1px solid rgba(13, 19, 33, 0.15);
        border-radius: 16px;
        background: rgb(255, 255, 255);
        padding-left: 50px;


}

.content-react {
        width: 1060px;
        height: 140px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;

}

.imgs {
        /* Frame 10 */
        position: static;
        width: 180px;
        height: 140px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 32px 0px;
}

.rect-discrition {
        width: 941.22px;
        height: 96px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px;
        margin: 16px 0px;

}

/* next target section styling end here */

/* saprout section styling start here */
.supprout {
        background-image: linear-gradient(rgb(0, 0, 0));
        /* Frame 8 */
        width: 1140px;
        height: 314px;
        top: 4752px;
        bottom: 179px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 64px 48px 64px 48px;
        border-radius: 16px;
        background-image: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(/assets/handshake.jpg);


}

.sapurot-title {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;

        margin: 0 auto;
        color: rgb(255, 255, 255);
        font-family: Azeret Mono;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
}

.sapurrot-discrition {
        color: rgb(255, 255, 255);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
}

.input-fild {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: 1px solid rgba(13, 19, 33, 0.15);
        border-radius: 8px;
        border: 1px solid rgba(13, 19, 33, 0.15);
        border-radius: 8px;

}

.supprout input {
        width: 548px;
        height: 57px;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 19px 20px 19px 20px;
        margin: 0px 16px;
        box-sizing: border-box;
        border: 1px solid rgba(11, 73, 216, 0.15);
        border-radius: 8px;
        background: rgb(255, 255, 255);
        border: none;

}

.supprout button {
        width: 120px;
        height: 58px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 17px 20px 17px 20px;
        margin: 0px 16px;
        border-radius: 8px;
        background: rgb(255, 255, 255);
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
        border: none;

}

.placeholder {
        color: rgba(13, 19, 33, 0.4);
        font-family: Azeret Mono;
        font-size: 15px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
}

/* saprout section styling end here */

/* main section styling ends here */


/* footer styling start here */
footer {
        margin: 50px auto;
        background: rgb(233, 207, 207);
        border-radius: 10px;

}

.footer-content {
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 1400px;
        display: flex;
        justify-content: space-between;
        padding: 32px 150px 32px 150px;
        border-radius: 16px;
}

.footer-title {
        align-items: center;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
}

.footer-content .linkdin {
        font-size: 40px;
        margin: 10px;


}

.footer-content .tiweter {
        font-size: 40px;
        margin: 10px;
}

.footer-content .github {
        font-size: 40px;
        gap: 5px;


}

/* footer styling ends here */